<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duke.storage.mapper.SysFileChunkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.duke.storage.entity.SysFileChunk">
        <id column="id" property="id"/>
        <result column="chunk_id" property="chunkId"/>
        <result column="file_name" property="fileName"/>
        <result column="file_suffix" property="fileSuffix"/>
        <result column="chunk_index" property="chunkIndex"/>
        <result column="chunk_total" property="chunkTotal"/>
        <result column="chunk_size" property="chunkSize"/>
        <result column="file_size" property="fileSize"/>
        <result column="chunk_path" property="chunkPath"/>
        <result column="storage_mode" property="storageMode"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

</mapper>
